<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="../js/jqPaginator.min.js"></script>
  <script type="text/javascript" src="../js/myPage.js"></script>
</head>
<body>
  <div class="content">
    <div class="nav">
      <img src="../image/logo.png" alt="" class="logo"/>
      <a href="" class="setting">
        <img src="../image/shezhi.png" alt=""/>
        设置
      </a>
    </div>
    <div class="page_left">
      <!--头像-->
      <div class="my_logo">
        <img src="../image/touxiang.png" alt=""/>
        <div class="my_name">
          <h3>用户名</h3>
          <p>用户名</p>
        </div>
      </div>
      <div style="clear: both"></div>
      <div class="my_money">
        <span>账户余额：</span>
        <p>0.000000 BTC ≈ 0.00 CNY</p>
      </div>
      <!--表格-->
      <div class="left_table">
        <table>
          <tbody>
            <tr>
              <th>币种</th>
              <th>BTC</th>
              <th style="text-align: center">BTC</th>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td><i></i><span>BTC</span></td>
              <td>0.00</td>
              <td>2.0%</td>
            </tr>
            <tr>
              <td><i></i><span>BTC</span></td>
              <td>0.00</td>
              <td>2.0%</td>
            </tr>
            <tr>
              <td><i></i><span>BTC</span></td>
              <td>0.00</td>
              <td>2.0%</td>
            </tr>
            <tr>
              <td><i></i><span>BTC</span></td>
              <td>0.00</td>
              <td>2.0%</td>
            </tr>
            <tr>
              <td><i></i><span>BTC</span></td>
              <td>0.00</td>
              <td>2.0%</td>
            </tr>
            <tr>
              <td><i></i><span>BTC</span></td>
              <td>0.00</td>
              <td>2.0%</td>
            </tr>
            <tr>
              <td><i></i><span>BTC</span></td>
              <td>0.00</td>
              <td>2.0%</td>
            </tr>
            <tr>
              <td><i></i><span>BTC</span></td>
              <td>0.00</td>
              <td>2.0%</td>
            </tr>
          </tbody>
        </table>
      </div>
     <!--  <div class="page_left_btm">
        <ul>
          <li><img src="../image/BTC.png" alt=""/><span>BTC</span></li>
          <li><img src="../image/BTC.png" alt=""/><span>BTC</span></li>
          <li><img src="../image/BTC.png" alt=""/><span>BTC</span></li>
        </ul>
      </div> -->
    </div>
    <div class="page_right">
      <div class="page_main">
        <div class="con_top">
          <form action="">
            <div class="send">
              <span>发送方地址</span>
              <input type="text"/>
            </div>
            <div class="receive">
              <span>接收方地址</span>
              <input type="text"/>
            </div>
            <div class="drop-down">
              <span>状态</span>
              <select>
                <option value="1">成功</option>
                <option value="2">失败</option>
                <option value="3">Opel</option>
              </select>
            </div>
            <div class="succeed">
              <input type="button" value="成功"/>
            </div>
            <div class="lead_push">
              <input type="button" value="导入文件提币"/>
            </div>
            <div class="cut_btn">
              <input type="button" value="切换账户"/>
            </div>
          </form>
        </div>
        <!--表格-->
        <div class="main_table">
          <table>
            <tbody>
              <tr style="height: 40px;line-height: 40px">
                <th>TxHash</th>
                <th>Age</th>
                <th>From</th>
                <th>To</th>
                <th>Value</th>
                <th>Token</th>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td>陈晓晓</td>
                <td>052899</td>
                <td>79544.55458</td>
                <td>6.458698%</td>
                <td>6.425545%</td>
                <td>6.452222%</td>
              </tr>
              <tr>
                <td>陈晓晓</td>
                <td>052899</td>
                <td>79544.55458</td>
                <td>6.458698%</td>
                <td>6.425545%</td>
                <td>6.452222%</td>
              </tr>
              <tr>
                <td>陈晓晓</td>
                <td>052899</td>
                <td>79544.55458</td>
                <td>6.458698%</td>
                <td>6.425545%</td>
                <td>6.452222%</td>
              </tr>
              <tr>
                <td>陈晓晓</td>
                <td>052899</td>
                <td>79544.55458</td>
                <td>6.458698%</td>
                <td>6.425545%</td>
                <td>6.452222%</td>
              </tr>
              <tr>
                <td>陈晓晓</td>
                <td>052899</td>
                <td>79544.55458</td>
                <td>6.458698%</td>
                <td>6.425545%</td>
                <td>6.452222%</td>
              </tr>
              <tr>
                <td>陈晓晓</td>
                <td>052899</td>
                <td>79544.55458</td>
                <td>6.458698%</td>
                <td>6.425545%</td>
                <td>6.452222%</td>
              </tr>
              <tr>
                <td>陈晓晓</td>
                <td>052899</td>
                <td>79544.55458</td>
                <td>6.458698%</td>
                <td>6.425545%</td>
                <td>6.452222%</td>
              </tr>
              <tr>
                <td>陈晓晓</td>
                <td>052899</td>
                <td>79544.55458</td>
                <td>6.458698%</td>
                <td>6.425545%</td>
                <td>6.452222%</td>
              </tr>
              <tr>
                <td>陈晓晓</td>
                <td>052899</td>
                <td>79544.55458</td>
                <td>6.458698%</td>
                <td>6.425545%</td>
                <td>6.452222%</td>
              </tr>
              <tr>
                <td>陈晓晓</td>
                <td>052899</td>
                <td>79544.55458</td>
                <td>6.458698%</td>
                <td>6.425545%</td>
                <td>6.452222%</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--分页-->
        <form id="form1" runat="server">
          <div style="width: 100%;text-align: center;margin-top: 2rem">
            <ul class="pagination" id="pagination">
            </ul>
            <input type="hidden" id="PageCount" runat="server" />
            <input type="hidden" id="PageSize" runat="server" value="30" />
            <input type="hidden" id="countindex" runat="server"/>
            <!--设置最多显示的页码数 可以手动设置 默认为3-->
            <input type="hidden" id="visiblePages" runat="server" value="3" />
          </div>
        </form>

        <div class="page_btm">
          <p>状态状态状态状态</p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function loadData(num) {
      $("#PageCount").val("89");
    }
  </script>
</body>
</html>