<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<script type="text/javascript" src = "../js/wallet.js"></script>
	<link rel="stylesheet" href="../css/style.css"/>
</head>
<body>

<div class="content">
	<div>
		<input id="keystore" />
		<button onclick = "importKeystore()" class="my_push">导入</button>
	</div>
	<div>
		<input id="password" type="password" id="password"/>   密码
	</div>
	<div>
		<button onclick = "submit()" class="submit">确认</button>
	</div>
</div>
</body>
</html>