<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/style.css"/>
	<script type="text/javascript" src = "../js/login.js"></script>
</head>
<body>
<div class="content">
	<div class="main">
		<form action="">
			<h2>用户登录</h2>
			<p>欢迎登录数字货币交易所后台管理系统</p>
			<input type="text" class="name"/>
			<input type="password" class="pwd"/>
			<input type="button" onclick="login()" value="登录" class="login"/>
		</form>
	</div>
</div>
</body>
</html>
